.typing-all {
    width: 78vw;
    display: flex;
    flex-direction: column;
    border-left: solid 0.5px #4d5459;
}

.typing-top-left {
    display: flex;
    margin-top: 2vh;
    margin-left: 2vw;
    flex-direction: row;
    align-items: center;
    gap: 1.5vw;
}

.typing-top {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.typing-top-right {
    margin-right: 5vw;
}

#typing-slogan {
    font-family: sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
    color: rgb(203, 203, 203);
    font-weight: 600;
    font-size: 1.2vw !important;
}

.typing-top-right-h3 {
    font-size: 20px;
}

.timer-in-page{
    width: 60vw;
    display: flex;
    justify-content: flex-start;
}
.page {
    width: 75vw;
    margin-top: 7vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text {
    border: 1px white solid;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    padding: 1vh;
}

.not-text {
    display: none;
}

.word-p {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: "Courier New", Courier, monospace;

    background-color: #121212;
    border: 1px solid #121212;
    /* border-radius: 10px; */
    padding: 1px;
}

.timer {
    color: #60c657;
    margin-left: 20px;
}
.not-timer {
    color: #121212;
}
.green {
    color: #60c657;
}

.red {
    color: rgb(240, 8, 82);
}

.default {
    background-color: lightgray;
    border: 1px solid lightgray;
    color: black;
    border-radius: 10px;
    padding: 1px;
}   


input {
    padding: 1vh;  
    margin: 3vh 0 3vh 0;
    width: 100%;
    outline: none;
    border: 1px white solid;
    background-color: #121212;
    border-radius: 10px;
    height: 5vh;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    color: white;
}

.time{
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.set-time {
    display: flex;
    align-items: center;
}


.input-word {
    width: 61vw;
    display: flex;
    align-items: center;
    /* padding: 1vw; */
}

.inp-bar-elem {
    width: 80px;
    height: 50px;
}

.typing-button {
    color: white;
    background-color: white;
    margin-left: 0 !important;
    background: -webkit-linear-gradient(bottom, #60c657, #2B2BE7);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
}