html {
    background-color: #121212;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: sans-serif;
}

.all {
    display: flex;
    /* border: 1px solid red; */
}


.sidebar {
    background-color: #121212;
    /* border: 1px solid red; */
    width: 22vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding-left: 2vw; */
}

button {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 1vw;
    border-radius: 20px;
    color: white;
    /* width: 95%; */
    height: 95%;
    font-weight: 700;
    border: none;
}

button:hover {
    cursor: pointer;
    font-size: 22px;
}


.cta-button {
    margin-left: 1vw;
    height: 50px;
    border: 0;
    width: 19vw;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.connect-wallet-button {
    background: -webkit-linear-gradient(left, #60c657, #2B2BE7);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
}

.log-out {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14.5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.log-out-left-p {
    margin: 0;
    margin-left: -1vw;
    font-size: 18px;
}

#log-out-left-tgt {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
}

.log-out-right-img {
    width: 30px;
    margin-right: -1vw;
}


.component-link-text:hover {
    font-size: 20px;
}

.component-link-text {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    /* margin: 1vh; */
}

.component-link {
    width: 19vw;
    height: 5vh;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    padding: 1vh 0 1vh 2vh;
    gap: 1vw;
    /* background-color: #202A30; */
    border-radius: 5px;
}

.chosen-component-link {
    width: 19vw;
    height: 5vh;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    padding: 1vh 0 1vh 2vh;
    gap: 1vw;
    background-color: #202A30;
    border-radius: 5px;
}

.component-link:hover {
    cursor: pointer;
}

.links {
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
}

.line {
    border-left: 0.5px solid #4d5459;
    height: 100vh;
    padding: 0;
}

.gradient-text {
    background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@-webkit-keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.swal-link {
    text-decoration: none; 
    color: #fff;
    font-weight: 700;
    
}
