.reward-component {
    width: 78vw;
    height: 100vh;
    border-left: solid 0.5px #4d5459;
}

.top {
    margin-top: 2vh;
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}

#slogan {
    font-family: sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
    color: rgb(203, 203, 203);
    font-weight: 600;
    font-size: 1.2vw !important;
}

h2 {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.statistics {
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.state {
    background-color: #202A30;
    border-radius: 15px;
    width: 11vw;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat-p {
    margin: 0;
    background-color: #202A30 !important;
    border-radius: 15px;
    font-size: 1.1vw !important;
    font-family: sans-serif !important;
    color:rgb(203, 203, 203);
}

span {
    padding-top: 10px;
    font-size: 1.7vw;
    font-weight: 700;
}


.send-button {
    width: 60px;
    height: 60px;
}

#send {
    margin: 0;
    background: -webkit-linear-gradient(left, #60c657, #2B2BE7);
}