.reward-component {
    width: 78vw;
    /* height: 100vh; */
    border-left: solid 0.5px #4d5459;
}

.top {
    margin-top: 2vh;
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}

#slogan {
    font-family: sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
    color: rgb(203, 203, 203);
    font-weight: 600;
    font-size: 1.2vw !important;
}

h2 {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}


.statistics {
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.state {
    background-color: #202A30;
    border-radius: 15px;
    width: 11vw;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat-p {
    margin: 0;
    background-color: #202A30 !important;
    border-radius: 15px;
    font-size: 1.1vw !important;
    font-family: sans-serif !important;
    color:rgb(203, 203, 203);
}

.stat-reward {
    padding-top: 10px;
    font-size: 1.7vw;
    font-weight: 700;
}


.send-button {
    width: 60px;
    height: 60px;
}

#send {
    margin: 0;
    background: -webkit-linear-gradient(left, #60c657, #2B2BE7);
    width: 95%;
}

.rewards-nft {
    margin-left: 3vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3vw;
}

.rewards-nft-object {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.rewards-nft-object-div1 {
    height: 400px;
    background-size: contain;
    border-radius:10px;
    margin-bottom:1vh;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.rewards-nft-object-div1-p {
    margin: 5px 0 10px 0;
    font-weight: 700;
}


.rewards-nft-object-div2 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 1vh;
    margin-top: 0.5vh;
}
.rewards-nft-object-img {
    width: 500px;
    border-radius: 10px;
}

.rewards-nft-object-btn{
    margin: 0;
    width: 500px;
    height: 40px;
    font-size: 20px;
    background: -webkit-linear-gradient(left, #60c657, #2B2BE7);
}
.rewards-nft-object-btn2{
    margin: 0;
    width: 500px;
    height: 40px;
    font-size: 20px;
    background: #4d5459;
    color:rgba(255, 255, 255, 0.7)
}

.rewards-nft-object-btn3 {
    margin: 0;
    width: 500px;
    height: 40px;
    font-size: 20px;
    background: #4d5459;
    color:rgba(255, 255, 255)
}

.rewards-nft-object-btn2:hover, .rewards-nft-object-btn3:hover{
    cursor: default;
    font-size: 20px;
    
}

.footer-a {
    text-decoration: none;
    font-size: 18px;
    color:#60c657;
}
.footer-a:hover, .opensea-link:hover {
    text-decoration: underline;
}

.opensea-link {
    font-size: 18px;
    background: -webkit-linear-gradient(left, #60c657, #2B2BE7);
    border-radius:10px;
    padding: 5px;
    margin-left: 3vw;
    margin-bottom: 2vh;
    width: 200px;
    display: flex;
    justify-content:center;
}

#opensea-a {
    text-decoration:none;
    color: white !important;
}